<div class="container">

      <h1>About Us</h1><br>
      <p>The Syndicate is a powerful and feared underworld gang, known for their ruthless tactics and extensive criminal empire. Operating in the shadows, they control a wide range of illegal activities, from coconut tree climbing and making distilled alchol and paid assassination. Their members are fiercely loyal and willing to do whatever it takes to protect the interests of the organization. Despite the constant threat of law enforcement and rival gangs, The Syndicate remains a formidable force in the criminal underworld.</p>

      <%= link_to "Home", home_path %>

</div>



<!-- <a href="/">Home</a> -->





